/*styles.css -- Steven Harolds*/

body {
	font-family: "Tahoma", "Arial";
	font-size: 12pt;
	color: #000000;
	background-color: #ffffff;
	/*height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;*/
}

.contentFrame {
	padding: 0px;
	border: 0px;
	/*width: 100vw;
	height: 100vh;
	/*flex: 1 1 auto;
	display: flex;
	flex-direction: column;*/
	/*width: 100vw;*/
	flex:1;
  display:flex;
  flex-direction:column;
}

.fullPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.asdf {
	/*flex: 1 1 auto;*/
	display: flex;
	flex-direction: column;
	height: 100%;
}

.contentArea {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;
}

.me {
	width: 100%;
	max-width: 300px;
	padding: 0;
}

.left {
	width: 80px;
}

.videoBackground {
	margin: 0;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

footer {
	width: 100vw;
	padding: 15px;
}

h1 {
	margin-top: 0px;
	font-family: "Book Antiqua", "Bell MT";
}

h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 18pt;
}

p {
	margin-top: 12px;
	margin-bottom: 12px;
}

/*.buffer30 {
	height: 30px;
}*/

.bg-5 { 
	background-color: #26a55f;
	color: #ffffff;
}

.bg-4 { 
	background-color: #4a72ca;
	color: #ffffff;
}
.bg-3 { 
	background-color: #ffffff;
	color: #222222;
}

.bg-2 { 
  background-color: #2689a1;
  color: #ffffff;
}

.bg-1 { 
	background-color: #07166b;
	color: #ffffff;
}

.navbar
{
	margin-bottom: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
}

.navBtn {
	cursor: pointer;
}

.navbar li a, .navbar .navbar-brand {
	color: #ffffff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #000000 !important;
	background-color: #ffffff !important;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

a:link {
	color: #2ba6f2;
	text-decoration: none;
}
a:visited {
	color: #2ba6f2;
	text-decoration: none;
}
a:hover {
	color: #2ba6f2;
	text-decoration: underline;
}
a:active {
	color: #2ba6f2;
	text-decoration: none;
}

.sched1 {
	background-color: #74c0ff;
}

.sched2 {
	background-color: #3176f5;
}

.sched3 {
	background-color: #1fd364;
}

.sched4 {
	background-color: #0db14b;
}

.sched5 {
	background-color: #598ef0;
}

.left .carousel-control {
	background-color: rgb(0, 0, 0, 0) !important;
}

.carousel-inner img {
	margin: auto;
}

#haiku {
	margin-left: 40px;
}
